<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>
    <header>
        <app-header nomePagina="Dashboard"></app-header>
    </header>
    <main>
        <section class="section-introducao">
            <div>
                <h3>Dashboard Ford</h3>
                <h1>Olá, <span>Administrador.</span></h1>
            </div>
        </section>
        <section class="section-consulta">
            <div class="section-consulta-content">
                <div class="icone">
                    <i class="material-icons">search</i>
                </div>
                <div class="section-consulta-texto">
                    <h3>Consultar Veiculo</h3>
                    <p>Selecione um modelo para atualizar os indicadores</p>
                </div>
            </div>
            <div>
                <select name="selectConsulta" id="selectConsulta" (change)="veiculoEscolhido($event)">
                    <option value="" selected disabled hidden>Selecione Uma Opção</option>
                    <option value="" *ngFor="let v of veiculos" [value]="v.id">
                        {{v.vehicle}}
                    </option>

                </select>
            </div>
        </section>
        <section class="section-dados">
            <article class="section-dados-card">
                <h1 id="totalVendas">{{veiculoSelecionado?.volumetotal || 0}}</h1>
                <h3>Total De Vendas</h3>
                <p>Unid.</p>
            </article>
            <article class="section-dados-card">
                <h1 id="veiculosConectados">{{veiculoSelecionado?.connected}}</h1>
                <h3>Conectados</h3>
                <p>Unid.</p>
            </article>
            <article class="section-dados-card">
                <h1 id="updateSoftware">{{veiculoSelecionado?.softwareUpdates}}</h1>
                <h3>Update Software</h3>
                <p>Unid.</p>
            </article>
        </section>
        <section class="section-veiculo">
            <div class="section-veiculo-texto">
                <h3>Veiculo Selecionado</h3>
                <h1 id="nomeVeiculo">{{veiculoSelecionado?.vehicle}}</h1>
            </div>
            <div class="section-veiculo-imagem">
                <img *ngIf="veiculoSelecionado" [src]="veiculoSelecionado.img" [alt]="veiculoSelecionado.vehicle"
                    id="veiculoImagem">
            </div>
        </section>
        <section class="section-tabela">
            <div class="section-tabela-head">
                <div class="section-tabela-head-texto">
                    <h3>Dados Do Veiculo</h3>
                    <h1>Consulta Por Código</h1>
                </div>
                <div class="section-tabela-head-pesquisa">
                    <input type="text" name="codigo" id="codigoVin" placeholder="Digite o código do veículo"
                        [(ngModel)]="codigoVin" (keyup.enter)="pesquisarVin()">

                    <button type="button" (click)="pesquisarVin()">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
            <div class="tabela-container">
                <table>
                    <thead>
                        <th>Codigo - Vin</th>
                        <th>Odômetro</th>
                        <th>Nível De Combustivel</th>
                        <th>Status</th>
                        <th>Lat.</th>
                        <th>Long.</th>
                    </thead>
                    <tbody>
                        @if (dadosVeiculo) {
                        <tr>
                            <td>{{ codigoVin }}</td>
                            <td>{{ dadosVeiculo.odometro }} km</td>
                            <td>{{ dadosVeiculo.nivelCombustivel }}%</td>
                            <td>{{ dadosVeiculo.status }}</td>
                            <td>{{ dadosVeiculo.lat }}</td>
                            <td>{{ dadosVeiculo.long }}</td>
                        </tr>
                        } @else {
                        <tr>
                            <td colspan="6">
                                Digite um código VIN para consultar
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>

</html>